= render_navbar {}
.login
  %h2 Set new password password
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        occured:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
      %a.close{:href => "#"} x
  = form_for(@user, url: password_reset_path(params[:id])) do |f|
    = hidden_field_tag :email, @user.email
    .input-field
      = f.password_field :password, placeholder: 'Enter a new password'
    .input-field
      = f.password_field :password_confirmation, placeholder: 'Confirm your passwword'
    %br{:style => "clear: both;"}/
    .submit
      = submit_tag "Set new password"
      %a{:href => "/"} or go back to your blog.
