= render 'layouts/header_clean'
%div.text-center{style: "margin-top: 80px; background: #f3f3f3; padding: 50px 0;"}
  .row
    .col-md-3.col-sm-0
    .col-md-6.col-sm-12
      .start-screen__content-form.js-contact-form
        %h2= @worker.email
        %divq
          = form_for :daily_entrys, :url => {:action => :create}, :method => "post", :html => {:class => 'row'} do |f|
            .col-md-12{style:"margin-bottom: 10px;"}
              %h4 Por favor ingrese los datos del registro diario:
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :temperature_ini, placeholder: "¿Cúal es su temperatura al iniciar la jornada laboral?", class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey', required: 'required'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_area :respiratory_symptom, placeholder: "Indique si posee cualquier sintoma respiratorio",  class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey', required: 'required'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_area :contact_with_infected, placeholder: "Informe cualquier sospecha de síntoma o contacto con personas diagnosticadas con COVID-19.", class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey', required: 'required'
            .col-md-12
              = f.submit "Guardar", class: ' custom-btn custom-btn--big custom-btn--style-1'
    .col-md-3.col-sm-0
= render 'layouts/footer'


:css
  .input-dis {
    background: #f2f2f2;
    border: none;
    margin: 2px 0px;
    text-align: center;
    padding: 8px 0;
    border-radius: 7px;
    max-width: 85px;
    margin-left: 20px;
  }
