- cache article do
  .title-container{style: "background: url(#{asset_url(article.image_url)})"}
    .image-overlay
      .container
        .row.mb-50
          .col-md-8
            .article_header
              %h1= link_to article.title, article_path(article)
              %h2= article.sub_title
          .col-md-4
            = image_tag 'icons/share', alt: "Compartir #{article.title}", id: 'share-button'
  .container.container-blog
    .article.first
      .author_name
        %span by
        = display_article_authors(article)
      .article_teaser
        = render_teaser(article, article_counter)
      .article_content
        = markdown article.content
        - if article.document?
          .article_document
            = link_to "Download #{article.document.file.filename}", article.document_url
      %hr/
      .article_footer.container-blog
        Publicado en
        %span.published_at= article.published_at.to_date
        por #{display_article_authors(article, true)}
