.article.first
  - cache article do
    - unless article.image_url.blank?
      .hero_image
        = link_to article_path(article) do
          %img{:alt => "#{article.title}", :src => "#{article.image_url}"}/
    .article_header
      %h1= link_to article.title, article_path(article)
      %h2= article.sub_title
      .author_name
        %span by
        = display_article_authors(article)
    .article_teaser
      = render_teaser(article, article_counter)
    .article_content
      = markdown article.content
      - if article.document?
        .article_document
          = link_to "Download #{article.document.file.filename}", article.document_url
    - unless article.gplus_url.blank?
      .article_googleplus
        %a{:href => "#{article.gplus_url}"} Discuss this article at Google+
    %hr/
    .article_footer
      Written on
      %span.published_at= article.published_at.to_date
      by #{display_article_authors(article, true)}
