!!!
%html.no-js
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "#{CONFIG[:meta_author]}", :name => "author"}/
    %meta{:content => "3 days", :name => "revisit-after"}/
    %meta{:content => "index,follow", :name => "robots"}/
    = display_meta_tags site: CONFIG[:title_short]
    %meta{:content => "#{CONFIG[:geo_position]}", :name => "geo.position"}/
    %meta{:content => "#{CONFIG[:geo_address]}", :name => "geo.placename"}/
    %meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => image_url("favicon/apple-touch-icon.png"), :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => image_url("favicon/favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => image_url("favicon/favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => image_url("favicon/site.webmanifest"), :rel => "manifest"}/

    = yield :head
    = auto_discovery_link_tag(:atom, articles_url(format: "atom"), {title: CONFIG[:feed_title]})
    = stylesheet_link_tag    "lines/application", media: "all"
    = javascript_include_tag "lines/application"
    = csrf_meta_tags
  %body
    - if current_lines_user
      = render_navbar do
        = link_to t('lines.buttons.new_article').html_safe, new_admin_article_path, class: "btn btn-new-article highlight"
        = link_to t('lines.buttons.dashboard').html_safe, admin_articles_path, class: "btn btn-view-blog"
    = render 'layouts/lines/markdown_cheatsheet'
    = render 'layouts/header_clean'
    .wrapper
      = render 'lines/shared/flash'
      = yield
    = render 'layouts/footer'
