!!!
%html.no-js
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    = display_meta_tags site: CONFIG[:title_short]
    %meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    = favicon_link_tag
    = yield :head
    = stylesheet_link_tag    "lines/application", media: "all"
    = javascript_include_tag "lines/application"
    = csrf_meta_tags
  %body
    = yield :navbar
    = render 'layouts/lines/markdown_cheatsheet'
    %header
      #logo
        %a{:href => "/"}
          - if CONFIG[:logo].empty?
            = CONFIG[:blog_name]
          - else
            %img{:alt => "#{CONFIG[:blog_name]}", :src => "#{CONFIG[:logo]}"}/
      #lines
        = CONFIG[:short_description].html_safe
    .container
      = render 'lines/shared/flash'
      = yield
    = render 'lines/shared/footer'
