%head
  :css
    p{
        text-align: justify;
    }
%body
  #app
    #btn-to-top-wrap
      %a#btn-to-top.circled{"data-visible-offset" => "800", :href => "javascript:void(0);"}
    %main
      = render 'layouts/header_clean'
      #home.nt-section{:name => "home"}
        .container-fluid.pl-0.pr-0
          .row.no-gutters
            .nt-column.col-sm-12
              #start-screen.start-screen.start-screen--full-height.start-screen--style-7{:style => "padding-top: 0px !important; margin-top: 100px !important;"}
                .start-screen__bg-container
                  .start-screen__bg
                .start-screen__content-container
                  .start-screen__content__item.align-items-center
                    .container
                      .row
                        .col-12.col-md-10.col-lg-6
                          %h6.__subtitle{:style => "color: #008A78;  "} En Intertecnicos estamos comprometidos con la prevención del COVID-19
                          %h2
                            %span.allittleText{:style => "font-weight: bold; font-weight: 600;"} Mantenimiento eléctrico industrial y residencial
                          %p
                            Como medida preventiva y velando por el bienestar de todos, hemos establecido medidas preventivas dentro de nuestra compañía para contribuir a disminuir los contagios del coronavirus.
                          %hr/
                          %p
                            Cumpliendo con la directriz de la Alcaldía de Bogotá, para que las empresas autorizadas por el Gobierno nacional en el decreto 593 de 2020,  a continuación se encuentra disponible para las autoridades competentes la información de nuestras sedes y personal debidamente actualizada.
                          %p Descargar informacion  de sedes y personal a cargo
                          %br/
                          .row.mb-adj
                            .col-md-6.col-sm-12
                              = link_to "Información de sedes y de personal", "home/download_intertecnicos", :format => 'zip' , class: 'custom-btn custom-btn--big custom-btn--style-1 mb-adj-bt',  :download => "Intertecnicos"
                            .col-md-6.col-sm-12
                              = link_to "Plan de Manejo de Demanda Segura", "home/download_file", :format => 'zip' , class: 'custom-btn custom-btn--big custom-btn--style-1 mb-adj-bt',  :download => "Intertecnicos"

                        .col-12.col-md-10.col-lg-6
                          .mb-img-adj
                            =image_tag 'worker.jpg', class: 'img-item item'
                            = link_to "Ingreso de personal", new_admin_session_path, class: 'custom-btn custom-btn--big custom-btn--style-1 mb-adj-bt', style: 'margin: 15px 0;'

      = render 'layouts/footer'
