%h1= @worker.email
%div
  = form_for :worker_attributes do |f|
    %p
      %br/
      #{f.label :nom_com}
      #{f.text_field :nom_com}
      %br/
      #{f.label :sede}
      #{f.text_field :sede}
      %br/
      #{f.label :tip_doc}
      #{f.text_field :tip_doc}
      %br/
      #{f.label :tel_con}
      #{f.text_field :tel_con}
      %br/
      #{f.label :sexo}
      #{f.text_field :sexo}
      %br/
      #{f.label :address}
      #{f.text_field :address}
      %br/
      #{f.label :localidad}
      #{f.text_field :localidad}
      %br/
      #{f.label :zone}
      #{f.text_field :zone}
      %br/
      #{f.label :bicicleta}
      #{f.radio_button :bicicleta, 'Bicicleta'}
      #{f.label :bicicleta, 'Si', :value => '1'}
      #{f.radio_button :bicicleta, 'sms'}
      #{f.label :bicicleta, 'No', :value => '0'}
      %br/
      #{f.label :automovil}
      #{f.radio_button :automovil, 'Automovil'}
      #{f.label :automovil, 'Si', :value => '1'}
      #{f.radio_button :automovil, 'sms'}
      #{f.label :automovil, 'No', :value => '0'}
      %br/
      #{f.label :moto}
      #{f.radio_button :moto, 'Moto'}
      #{f.label :moto, 'Si', :value => '1'}
      #{f.radio_button :moto, 'sms'}
      #{f.label :moto, 'No', :value => '0'}
      %br/
      #{f.label :taxi}
      #{f.radio_button :taxi, 'Taxi'}
      #{f.label :taxi, 'Si', :value => '1'}
      #{f.radio_button :taxi, 'sms'}
      #{f.label :taxi, 'No', :value => '0'}
      %br/
      #{f.label :walk}
      #{f.radio_button :walk, 'Caminar'}
      #{f.label :walk, 'Si', :value => '1'}
      #{f.radio_button :walk, 'sms'}
      #{f.label :walk, 'No', :value => '0'}
      %br/
      #{f.label :n_peo_worker}
      #{f.text_field :n_peo_worker}
      %br/
      #{f.label :n_peo_old}
      #{f.text_field :n_peo_old}
      %br/
      #{f.label :n_peo_young}
      #{f.text_field :n_peo_young}
      %br/
      #{f.label :dis_diabetes}
      #{f.radio_button :dis_diabetes, 'Caminar'}
      #{f.label :dis_diabetes, 'Si', :value => '1'}
      #{f.radio_button :dis_diabetes, 'sms'}
      #{f.label :dis_diabetes, 'No', :value => '0'}
      %br/
      #{f.label :dis_cardio}
      #{f.radio_button :dis_cardio, 'Caminar'}
      #{f.label :dis_cardio, 'Si', :value => '1'}
      #{f.radio_button :dis_cardio, 'sms'}
      #{f.label :dis_cardio, 'No', :value => '0'}
      %br/
      #{f.label :dis_hypertension}
      #{f.radio_button :dis_hypertension, 'Caminar'}
      #{f.label :dis_hypertension, 'Si', :value => '1'}
      #{f.radio_button :dis_hypertension, 'sms'}
      #{f.label :dis_hypertension, 'No', :value => '0'}
      %br/
      #{f.label :dis_acv}
      #{f.radio_button :dis_acv, 'Caminar'}
      #{f.label :dis_acv, 'Si', :value => '1'}
      #{f.radio_button :dis_acv, 'sms'}
      #{f.label :dis_acv, 'No', :value => '0'}
      %br/
      #{f.label :dis_inmunosuopressant}
      #{f.radio_button :dis_inmunosuopressant, 'Caminar'}
      #{f.label :dis_inmunosuopressant, 'Si', :value => '1'}
      #{f.radio_button :dis_inmunosuopressant, 'sms'}
      #{f.label :dis_inmunosuopressant, 'No', :value => '0'}
      %br/
      #{f.label :dis_obs_cronic}
      #{f.radio_button :dis_obs_cronic, 'Caminar'}
      #{f.label :dis_obs_cronic, 'Si', :value => '1'}
      #{f.radio_button :dis_obs_cronic, 'sms'}
      #{f.label :dis_obs_cronic, 'No', :value => '0'}
      %br/
      #{f.label :dis_malnutrition}
      #{f.radio_button :dis_malnutrition, 'Caminar'}
      #{f.label :dis_malnutrition, 'Si', :value => '1'}
      #{f.radio_button :dis_malnutrition, 'sms'}
      #{f.label :dis_malnutrition, 'No', :value => '0'}
      %br/
      #{f.label :dis_smoker}
      #{f.radio_button :dis_smoker, 'Caminar'}
      #{f.label :dis_smoker, 'Si', :value => '1'}
      #{f.radio_button :dis_smoker, 'sms'}
      #{f.label :dis_smoker, 'No', :value => '0'}
      = f.submit
