= render 'layouts/header_clean'
%div.text-center{style: "margin-top: 80px; background: #f3f3f3; padding: 50px 0;"}
  .row
    .col-md-3.col-sm-0
    .col-md-6.col-sm-12
      .start-screen__content-form.js-contact-form
        %h2= @worker.email
        %divq
          = form_for :worker_attributes, :url => {:action => :create}, :method => "post", :html => {:class => 'row'} do |f|
            .col-md-12{style:"margin-bottom: 10px;"}
              %h3 Datos personales
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :nom_com, placeholder: "Nombre Completo", class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :sede, placeholder: "Sede", readonly: 'readonly', value: 'Carrera 74 B    64 F 20  ', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-3{style:"margin-bottom: 10px;"}
              = f.text_field :tip_doc, placeholder: 'Tipo de documento', value: 'CC', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-9{style:"margin-bottom: 10px;"}
              = f.text_field :num_doc, placeholder: '# de documento', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :tel_con, placeholder: 'Telefono', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :sexo, placeholder: 'Sexo', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :address, placeholder: 'Dirección completa', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :localidad, placeholder: 'Localidad', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :zone, placeholder: 'Barrio de residencia', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              %h3 Datos extra personales
            .col-md-12{style:"margin-bottom: 10px;"}
              %h4 Metodo de transporte
              .col-md-12{style: "display: flex;justify-content: center;"}
                .it
                  = f.label :bicicleta
                  = f.check_box :bicicleta
                .it
                  = f.label :automovil
                  = f.check_box :automovil
                .it
                  =f.label :moto
                  = f.check_box :moto
                .it
                  =f.label :taxi
                  = f.check_box :taxi
                .it
                  =f.label 'Caminar'
                  = f.check_box :walk
            .col-md-12{style:"margin-bottom: 10px;"}
              = f.text_field :n_peo_worker, placeholder: '¿Cuál es el número total de personas que viven con usted?', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-6.col-sm-12{style:"margin-bottom: 10px;"}
              = f.label '¿De las personas que viven con usted cuántas son mayores de 60 años?'
              = f.text_field :n_peo_old, placeholder: 'Ej. 2', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-6.col-sm-12{style:"margin-bottom: 10px;"}
              = f.label '¿De las personas que viven con usted cuántas son menores de 60 años?'
              = f.text_field :n_peo_young, placeholder: 'Ej. 1', class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required textfield textfield--grey'
            .col-md-12{style:"margin-bottom: 10px;"}
              %h4 ¿Cuántas personas con condiciones de morbilidad preexistente viven con el empleado?
            .col-md-12{style:"margin-bottom: 10px;"}
              .col-md-12{style: "display: flex;flex-wrap: wrap; justify-content:end;"}
                .it{style: 'display: flex;'}
                  = f.label 'Diabetes', :style => 'margin-right: 10px;'
                  = f.text_field :dis_diabetes, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'Enfermedades cardiovasculares', :style => 'margin-right: 10px;'
                  = f.text_field :dis_cardio, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'Hipertensión arterial- HTA', :style => 'margin-right: 10px;'
                  = f.text_field :dis_hypertension, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'ACV,  Accidente Cerebrovascular', :style => 'margin-right: 10px;'
                  = f.text_field :dis_acv, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'Enfermedades inmunosupresoras', :style => 'margin-right: 10px;'
                  = f.text_field :dis_inmunosuopressant, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'Enfermedad Obstructiva crónica -EPOC', :style => 'margin-right: 10px;'
                  = f.text_field :dis_obs_cronic, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'Malnutrición (obesidad y desnutrición)', :style => 'margin-right: 10px;'
                  = f.text_field :dis_malnutrition, placeholder: 'Ej: 0', value: 0
                .it{style: 'display: flex;'}
                  = f.label 'Fumadores', :style => 'margin-right: 10px;'
                  = f.text_field :dis_smoker, placeholder: 'Ej: 0', value: 0
            .col-md-12
              = f.submit "Guardar", class: ' custom-btn custom-btn--big custom-btn--style-1'
    .col-md-3.col-sm-0
= render 'layouts/footer'
